/* Basic CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*font*/
@font-face {
font-family: 'JetBrains';
src: url('fonts/JetBrainsMono.ttf');
}

:root {
  --box-green: rgba(144, 178, 144, 0.3);
  --box-blue: rgba(150,182,232,0.3);
  --box-white: #ffffff39;
}

/* Background image styling */
body {
  background-image: linear-gradient(-45deg, #001332,#000000,#002200);
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'JetBrains', monospace;
  image-rendering: pixelated;
  -webkit-text-size-adjust: 100%;
}

/* Center container styling */
.main-container {
  /* background-color: rgba(0, 0, 0, 0.279); */
  width: 768px; /* Limit on desktop */
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

.transparent-content {
  width: 100%;
  padding: 20px;
  align-items: center;
}

/* Logo styling */
.logo {
  margin-bottom: 20px;
  image-rendering: pixelated;
  transition: transform 0.3s;
  width: 100%;
  height: auto;
  min-width: 120px; /* Adjust as needed */
}

/* Blog content styling */
.blog-content {
  border-radius: 8px;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, var(--box-blue),var(--box-green));
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
}

.post-title {
  background-color: var(--box-white);
  padding: 12px;
  padding-left: 12px;
  margin-left: -12px;
  margin-right: -12px;
  border-radius: 8px 8px 0px 0px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.blog-content p {
  color: white;
  padding: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

/*Link breaking*/
.blog-content a {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

/* Blog post styling */
.post-title {
  font-weight: bolder;
  font-size: 24px;
  font-family: "JetBrains", monospace;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.post-content {
  font-family: "JetBrains", monospace;
  font-size: 16px;
  color: #000000;
  line-height: 1.6;
}

.row {
  position: relative;
}

.row-collapse-btn {
  position: absolute;
  top: 12px;  
  right: 12px;
  background: rgba(0, 15, 91, 0.355);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  width: 35px;
  height: 30px;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
  transition: all 0.3s ease;
  z-index: 10;
  color: white;
}

.row-collapse-btn:hover {
  background: rgba(0, 0, 0, 0.5);
}

.collapsible-content {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 0.3s ease;
}

.collapsed .collapsible-content {
  max-height: 0px;
}

.ploink-hitbox:hover .ploink {
  animation: ploink 0.2s ease;
}

/* Special treatment for stuff-img because I'm a good coder */
.stuffimg .row-collapse-btn {
  right: 24px;
}

.stuffimg .post-title {
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 8px 8px 0px 0px;
}

/* project tiles*/
.project {
  overflow: hidden; 
  border-radius: 8px;
}

.project img {
  width: 100%;
  transition: transform 0.3s ease,filter 0.3s ease;
}

.project img:hover {
  transform: scale(1.2);
  filter:blur(2px);
}

.project .text {
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size:x-large;
  opacity: 0;
  transition: opacity 0.3s ease;
  color:white;
  text-shadow: 0px 0px 5px #000;
}

.project:hover .text {opacity: 1;}

@media (max-width: 767.98px) {
  .main-container {width: 100%;}
  .stuffimg .blog-content   {border-radius: 0px;}
  .stuffimg .top-content    {border-radius: 8px 8px 0px 0px;}
  .stuffimg .bottom-content {border-radius: 0px 0px 8px 8px;}
  .project {padding-bottom: 12px;}
}

@keyframes ploink {
  0% { transform: translateY(0) rotate(0); }
  35% {transform: rotate(2deg); }
  50% { transform: translateY(-10%) rotate(0deg)} /* Adjust -10px to control jump height */
  65% {transform: rotate(-2deg); }
  100% { transform: translateY(0) rotate(0); }
}

#sketch {
  position: fixed;
  top: -20%;
  left: -20%;
  width: 140vw;
  height: 140vh;
  display: block;
  margin: 0 auto;
  z-index: -10  ;
  opacity: 0.5;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  background-image: linear-gradient(-45deg, var(--box-blue),var(--box-green));
  width: calc((100% - 768px)/2 - 36px);
  color: white;
  height: 50%;
  bottom: 61px;
  min-width: 50px;
  min-height: 50px;
  z-index: 10;
  border-radius: 8px;
  transition: all 0.3s ease;
  overflow: hidden;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
}

.sidebar-grid {display: grid;grid-template-columns: repeat(auto-fill, 100px);}
.sidebar-grid-stamps {display: grid;grid-template-columns: repeat(auto-fill, 150px);}

.sb-left {left: 24px;}
.sb-right {right: 24px;}

/* Collapsed state */
.sidebar.sidebar-collapsed {
  width: 50px;
  height: 50px;
}

/* Toggle button */
.sidebar-toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 15, 91, 0.355);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  transition: all 0.3s ease;
  z-index: 11;
  color: white;
}

.sidebar-toggle-btn:hover {background: rgba(0, 0, 0, 0.4);}

/* Sidebar content wrapper */
.sidebar-content {
  transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.sb-icon {
  padding-left: 24px;
  padding-right: 0px;
}

.sidebar img {
  width: 50px;
  height: auto;
}

.stamp img {
  width: 115px;
  height: auto;
}

/* Hidden state */
.sidebar-collapsed .sidebar-content {
  opacity: 0;
  visibility: hidden;
}

/* Sidebar on hover */
.sidebar-collapsed:hover .sidebar-content {
  opacity: 0.8; 
  visibility: visible;
}

.sidebar-collapsed:hover {width: 155px;}

.sidebar-collapsed.sb-left  .sidebar-toggle-btn {left:  10px;}
.sidebar-collapsed.sb-right .sidebar-toggle-btn {right: 10px;}

.sidebar-collapsed.sb-left  .sidebar-content .post-title {padding-left:  45px;}
.sidebar-collapsed.sb-right .sidebar-content .post-title {padding-right: 45px;}

@media (max-width: 768px) {.sidebar {bottom: 98px;}}
@media (max-width: 1080px) {
  .sidebar {
    width: calc((100%) - 48px);
    height: 75%;
    background-image: linear-gradient(-45deg, #96b6e8,rgba(144, 178, 144, 1));
  }
}


/* Under Construction */
.construction {
  position: fixed;
  top: 0px;
  width: 300px;
  right: calc(50% - 130px);
  border-radius: 0px 0px 8px 8px;
  text-align: center;
  z-index: 999;
}
